/********************************
 *  * General Styles
 *   ********************************/
/*
 *  * Colors:
 *  * #05668D
 *  * #028090
 *  * #00A896
 *  * #02C39A
 *  * #F0F3BD
 *
 */

/********************************
 * Calculator Styles
 ********************************/

#calculator {
    box-shadow: rgb(5, 102, 141) 0px 0px 0px 1px;
    background-color: rgb(5, 102, 141);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

/********************************
 * top-row Styles
 *********************************/
#top-row {
    margin: 5px;
}


/********************************
 * Memory Styles
 *********************************/
#memory {
    float: right;
}

/********************************
 * History Styles
 *********************************/
#history {
    float: left;
}

/********************************
 * Display Styles
 *********************************/

#display {
    height: 60px;
    margin: 10px;
    background-color: #F2F2F2;
    border: 2px rgba(0,0,0,0.1) solid;
}

#main {
    position: relative;
    bottom: -10px;
    clear: both;
    float: right;
    font-size: 30px;
}

/********************************
 * Buttons Styles
 *********************************/
#buttons {
    width: 100%;
}

.button {
    font-size: 26px;
    font-weight: 100;
    float: left;
    width: 20%;
    line-height: 80px;
    height: 80px;
    text-align: center;
    border-right: 1px rgba(0,0,0,0.1) solid;
    border-bottom: 1px  rgba(0,0,0,0.1) solid;
    border-collapse: collapse;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.button:hover {
    font-size: 40px;
}

.button.double-width {
    width: 40%;
}

.button.right {
    border-right: none;
}

.button.bottom {
    border-bottom: none;
}

